<!doctype html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Login</title>
	</head>
	<style type="text/css">
	
		#divLogotipo {
			border: 1px solid black;
			
		}
		
		#divFormLogin {
			border: 1px solid pink;
			
		}
	</style>
	<body>
		<div id="divLogotipo">
			<img height="500" width="500" th:src="@{/images/logotipo.png}">
		</div>
		
		<div id="divFormLogin">
			Login
		</div>
	</body>
</html>